.navbar {
  height: 10vh;
  width: 100%;
  background-color: #111;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;

  &-links {
    ul {
      display: flex;
      list-style: none;
    }

    a {
      color: #eee;
      text-decoration: none;
      margin: 0px 5px;
      padding: 10px;
      font-size: 20px;
      transition: all 0.4s ease;

      &:hover {
        color: #2cb;
      }
    }
  }
}

.footer {
  height: 10vh;
  background: #111;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}